<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Instagram</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button> &nbsp;

    <form class="form-inline my-2 my-lg-0"  action="{% url 'search_results' %}">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="username">
        <button class="btn btn-dark" type="submit">Search</button>
    </form> &nbsp; 

    <div class="collapse navbar-collapse ml-5" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/"><i class="fa fa-home fa-2x" aria-hidden="true"></i><span class="sr-only">(current)</span></a>
            </li> &nbsp; &nbsp; 
            <li class="nav-item">
                <a class="nav-link" href="{% url 'new-post' %}"><i class="fa fa-plus-square-o fa-2x" aria-hidden="true"></i></a>
            </li> &nbsp; &nbsp;
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'images' user.id %}"><i class="fa fa-user fa-2x" aria-hidden="true"></i></a>
            </li> &nbsp; &nbsp;
            <li class="nav-item">
                <a class="nav-link" href="/logout"><i class="fa fa-sign-out fa-2x" aria-hidden="true">Logout</i></a>
            </li>
            <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Account
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/accounts/password/change">Change password</a>
                    <a class="dropdown-item" href="/logout">Logout</a>
                </div>
            </li> -->
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/accounts/login"><i class="fa fa-sign-in fa-2x" aria-hidden="true">Login</i></a>
            </li> &nbsp; &nbsp;
            <li class="nav-item">
                <a class="nav-link register" href="/accounts/register">Register</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>