{% load bootstrap3 %} 
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>New Post</title>
</head>
<body>
    <form  action="{%url 'new-post'%}" method="post" enctype="multipart/form-data">
        {%csrf_token%}
    
        {% bootstrap_form form%}
        <input type="submit" class="btn btn-success btn-lg" value="Post">
      </form>
    
       {% block scripts %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      {% bootstrap_javascript %}
       
      {% endblock %}
</body>
</html>