{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    {% if usernames%}
      <h2 class="search">Found {{ usernames|length }} of searched term {{message}}</h2> <br><br>
    {% else %}
      <h2 class="search"> Found 0 usernames for the search term {{message}}</h2> <br><br>
    {% endif %}

    {% for username in usernames %}
    <h1>{{ username.user.username }}</h1>
    {% endfor %}
</body>
</html>